.main , .main2 ,.main3 , .main4 , .main5{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    div{
        width: 100%;
        img{
            width: 100%;
        }
    }
}

.btns{
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 50px 0;
    button{
        width: 50px;
        height: 50px;
        font-size: 30px;
        cursor: pointer;
        border: none;
        background-color: lime;
        color: #111;
        border-radius: 10px;
    }
}
